@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Työajanseuranta</h2>
    <p><a href="~/Reports/HoursPerWorkAssignment" class="btn btn-primary btn-lg">Raportti&raquo;</a></p>
</div>
